/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


@font-face {
	font-family: 'Mondwest-Bold';
	src: url('fonts/PPMondwest-Bold.otf') format('truetype');
    font-weight: 100;
 }

:root{
    --header: 40px;
    --header-leading: 44px;

    --article-title: calc(var(--header)/1.8);
    --article-title-leading: calc(var(--header-leading)/1.8);

    --body: calc(var(--header)/2.5);
    --body-leading: calc(var(--header)/1.9);
    
    --gap: 20px;
    --content-width: 100%;
    --content-height: 30vh;
}

body{
    font-family: 'Space Mono', monospace;
}


h1{
    font-family: 'Mondwest-Bold', serif;
    font-size: var(--header);
    line-height: var(--header-leading);
    margin: 20px;
    margin-top: 130px;
    max-width: 21ch;
    color: black;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.7px;
}

.drop-shadow{
    position: absolute;
    top: 1px;
    left: 1px;
    color: #1aff00;
}

h2{
    font-family: 'Mondwest-Bold', serif;
}

h3{
    font-size: var(--article-title);
    line-height: var(--article-title-leading);
    padding: 30px;
}


p{
    font-family: 'Inconsolata', monospace;
    margin: 28px;
    font-size: var(--body);
    line-height: var(--body-leading);
    max-width: 33ch;
}


button{
    /* background: #1aff00; */
    background-color: #dedede;
    border: 1.2px solid #767676;
    border-radius: 6px;
    width: 68px;
    height: 30px;
    font-size: 16px;
    margin: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

button:hover{
    cursor: pointer;
    transition-duration: 0.7s;
    background-color: #1aff00;
}


.top-left-button{
    position: absolute;
    left: 0px;
    top: 0px;
}

.view-buttons{
    display: flex;
    margin-top: -30px;
}

/* content type */

@keyframes colorfade {
    from {
    filter: saturate(1);
    }
    to{
    filter: saturate(0);
    }
    }


#image-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
    margin: 20px;
    margin-top: 10px;
}


iframe{
    width: var(--content-width);
    height: var(--content-height);
    border-radius: 20px;
    object-fit: cover; /* Cover the parent. */
	object-position: center center; /* Side. */
    filter: saturate(0);

    animation-name: colorfade;
    animation-duration: 4s;
    animation-direction:normal;
}

.image-hover:hover{
    filter: saturate(1);
    transition-duration: 0.7s;
    cursor: pointer;
}


.link-block, .pdf-block{
    background-color: #1aff00;
    color: black;
    border-radius: 20px;
    filter: saturate(0);
    width: var(--content-width);
    height: var(--content-height);

    animation-name: colorfade;
    animation-duration: 4s;
    animation-direction:normal;
}

.link-block:hover{
    filter: saturate(1);
    transition-duration: 1s;
    cursor: pointer;
}

.pdf-block:hover{
    filter: saturate(1);
    transition-duration: 1s;
    cursor: pointer;
}

.image{
    width: var(--content-width);
    height: var(--content-height);
    border-radius: 20px;
    object-fit: cover; /* Cover the parent. */
	object-position: center center; /* Side. */
    filter: saturate(0);

    animation-name: colorfade;
    animation-duration: 4s;
    animation-direction:normal;
}

.image-block aside{  
    display: none;
    background-color: rgba(0, 255, 30, 0.85);
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    filter: saturate(1);
    top: 0px;
    left: 0px;
    bottom:0px;
    right: 0px;
    padding: 100px;
    z-index: 2;
    
    animation: none;
}


.image-focus{
    filter: saturate(1);
    width: calc(var(--content-width)/1.8);
    height: auto;
    left: calc(50% - calc(var(--content-width)/1.8)/2);
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.image-block.active aside {
    display:block;
    filter: saturate(1);
    animation-name: none;
 }

 .video-embed-block aside{  
    display: none;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    filter: saturate(1);
    top: 0px;
    left: 0px;
    bottom:0px;
    right: 0px;
    padding: 100px;
    z-index: 2;
    
    animation-name: none;
}

.video-embed-block.active aside {
    display:block;
    filter: saturate(1);
 }

 .video-focus{
    filter: saturate(1);
    width: 510px;
    height: auto;
    left: calc(50% - 155px);
    position: fixed;
}

aside iframe{
    animation: none;
    width: 310px;
    height: 200px;
    position: fixed; 
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* ul.image-blocks > li:not(:first-child){  
    display: none;
} */



/* .big-image{
    padding: 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 500px;
    height: auto;
}

aside{    
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:tomato;
} */

#image-carousel{
    display: flex;
    justify-content: space-between;
}

#carousel{
    display: none;
    margin-left:auto;
    margin-right:auto;
    width: 334px;
    height: 250px;
    position: relative;
    top: 30px;
    object-fit:contain; /* Cover the parent. */
	object-position: left top; /* Side. */
}
/* #image-grid > div {    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

@media (min-width: 396px) {
    p{
        max-width: 40ch;
    }
}

@media (min-width: 490px) {
    p{
        max-width: 53ch;
    }
}


@media (min-width: 580px) {
    :root{
        --header: 65px;
        --header-leading: 68px;
        --article-title: calc(var(--header)/2.8);
        --article-title-leading: calc(var(--header-leading)/2.4);
        --body: calc(var(--header)/3.5);
        --body-leading: calc(var(--header)/2.5);
    }

    h1{
        -webkit-text-stroke-width: 1.5px;
    }

    .drop-shadow{
        left: 2px;
    }

    aside iframe{
        width: 450px;
        height: 300px;
        left: calc(50% - 323px);
    }
}

@media (min-width: 660px) {
    #image-grid{
        grid-template-columns: 1fr 1fr;
    } 
}


@media (min-width: 800px) {
  p{
    max-width: 59ch;
  }

  aside iframe{
    width: 650px;
    height: 400px;
    left: calc(50% - 420px);
}
}

@media (min-width: 950px) {
    :root{
        --header: 80px;
        --header-leading: 76px;
        --body: calc(var(--header)/3.5);
        --body-leading: calc(var(--header)/2.5);
        --article-title: calc(var(--header)/3.8);
        --article-title-leading: calc(var(--header-leading)/3.2);
    }

    h1{
        -webkit-text-stroke-width: 1.5px;
    }

    .drop-shadow{
        left: 4px;
    }

    p{
        max-width: 67ch;
    }
    

    #image-grid{
        grid-template-columns: 1fr 1fr 1fr;
    } 
}

@media (min-width: 1000px) {
    aside iframe{
        width: 820px;
        height: 540px;
        left: calc(50% - 510px);
    }
}

@media (min-width: 1350px) {
    :root{
        --content-height: 35vh;
    }

}

