
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


@font-face {
	font-family: 'Mondwest-Bold';
	src: url('fonts/PPMondwest-Bold.otf') format('truetype');
    font-weight: 100;
 }

:root{
    --header: 40px;
    --header-leading: 44px;

    --article-title: calc(var(--header)/2.4);
    --article-title-leading: calc(var(--header-leading)/2.2);

    --body: calc(var(--header)/2.5);
    --body-leading: calc(var(--header)/1.9);
    
    --gap: 20px;
    --content-width: 100%;
    --content-height: 30vh;
}

body{
    font-family: 'Space Mono', monospace;
}

/* type */
h1{
    font-family: 'Mondwest-Bold', serif;
    font-size: var(--header);
    line-height: var(--header-leading);
    margin: 20px;
    margin-top: 130px;
    max-width: 21ch;
    color: #1aff00;
    filter: drop-shadow(-2px 2px 0px black);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.9px;
    z-index: 2;
}

h2{
    font-family: 'Mondwest-Bold', serif;
}

h3{
    font-size: var(--article-title);
    line-height: var(--article-title-leading);
    padding: 30px;
    padding-top: 25px;
}


p{
    font-family: 'Inconsolata', monospace;
    margin: 28px;
    font-size: var(--body);
    line-height: var(--body-leading);
    max-width: 33ch;
}

.channel-title{
    position: fixed;
    margin-top: 85px;
}

.small-headline{
    font-size: calc(var(--header)/1.9);
    line-height: calc(var(--header-leading)/2);
    top: -62px;
    left: 71px;
    /* transition: 0.1s ease; */
    -webkit-text-stroke-width: 0.5px;
}

/* buttons */
button{
    width: 68px;
    height: 30px;
    font-size: 16px;
    margin: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#selected-button{
    background-color:#1aff00;
}

.small-button{
    width: 55px;
    height: 25px; 
    font-size: 12px;
}

#about{
    z-index: 2;
}


#backtotop{
    background-color: #1aff00;
    position: fixed;
    bottom: 10px;
    right: 0px;
    width: 30px;
}



.view-buttons{
    display: flex;
    /* justify-content: space-between; */
    position: relative;
    top: 207px;
    /* width: 100px; */
    /* margin-top: 206px; */
}

.each-button{
    width: 50px;
    height: 25px;
    font-size: 12px;
    margin-right: -6px;
}

.wider-button{
    width: 130px;
}


button{
    /* background: #1aff00; */
    background-color: #dedede;
    border: 1.2px solid #767676;
    border-radius: 6px;
    width: 68px;
    height: 30px;
    font-size: 16px;
    margin: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

button:hover{
    cursor: pointer;
    transition-duration: 0.7s;
    background-color: #1aff00;
}


.top-left-button{
    position: fixed;
    left: 0px;
    top: 0px;
}


.grid-view{
    position: relative;
    top: 202px;
}

.about-page{
    position: fixed;
    top: 0px;
    left: 0px;
}

.about-title{
    margin-top: 85px;
}

.about-page aside{  
    display: none;
    background-color:#1aff00;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom:0px;
    right: 0px;
    z-index: 3;
}

.about-page.active aside {
    display:block;

 }


.image-focus{
    filter: saturate(1);
    width: calc(var(--content-width)/1.2);
    height: auto;
    left: calc(50% - calc(var(--content-width)/1.2)/2);
    position: fixed;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.image-block.active aside {
    display:block;
    filter: saturate(1);
    animation-name: none;
 }

/* content type */

@keyframes colorfade {
    from {
    filter: saturate(1);
    }
    to{
    filter: saturate(0);
    }
    }


#image-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
    margin: 20px;
    margin-top: 10px;
}


iframe{
    width: var(--content-width);
    height: var(--content-height);
    border-radius: 20px;
    object-fit: cover; /* Cover the parent. */
	object-position: center center; /* Side. */
    /* filter: saturate(0); */

    /* animation-name: colorfade;
    animation-duration: 5s;
    animation-direction:normal; */
}

.image-hover:hover{
    filter: saturate(1);
    transition-duration: 0.7s;
    cursor: pointer;
}


.link-block, .pdf-block{
    background-color: #1aff00;
    color: black;
    border-radius: 20px;
    /* filter: saturate(0); */
    width: var(--content-width);
    height: var(--content-height);

    /* animation-name: colorfade;
    animation-duration: 5s;
    animation-direction:normal; */
}

.link-block:hover{
    filter: saturate(1);
    transition-duration: 1s;
    cursor: pointer;
}

.pdf-block:hover{
    filter: saturate(1);
    transition-duration: 1s;
    cursor: pointer;
}

.image{
    width: var(--content-width);
    height: var(--content-height);
    border-radius: 20px;
    object-fit: cover; /* Cover the parent. */
	object-position: center center; /* Side. */
    /* filter: saturate(0); */

    /* animation-name: colorfade;
    animation-duration: 4s;
    animation-direction:normal; */
}

.image-block aside{  
    display: none;
    background-color: rgba(0, 255, 30, 0.85);
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    filter: saturate(1);
    top: 0px;
    left: 0px;
    bottom:0px;
    right: 0px;
    padding: 100px;
    z-index: 2;
}

aside .image{
    animation:none;
}


.image-focus{
    filter: saturate(1);
    width: calc(var(--content-width)/1.2);
    height: auto;
    left: calc(50% - calc(var(--content-width)/1.2)/2);
    position: fixed;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.image-block.active aside {
    display:block;
    filter: saturate(1);
    animation-name: none;
 }

 .saturated-image{
    filter: saturate(1);
 }
 

 .video-embed-block aside{  
    display: none;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    filter: saturate(1);
    top: 0px;
    left: 0px;
    bottom:0px;
    right: 0px;
    padding: 100px;
    z-index: 2;
    
    animation-name: none;
}

.video-embed-block.active aside {
    display:block;
    filter: saturate(1);
 }

 .video-focus{
    filter: saturate(1);
    width: 510px;
    height: auto;
    left: calc(50% - 155px);
    position: fixed;
    top: 13%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

aside iframe{
    animation: none;
    width: 310px;
    height: 200px;
    position: fixed; 
    filter: saturate(1);
}

#footer-image{
    width: 3%;
    margin-top: 400px;
    margin-left: 47%;
    padding-bottom: 20px;
    /* position: relative;
    bottom:-300px; */
}

/* scroll filter  */
.black-and-white{
    width: 100%;
    height: 25%;
    background-color: white;
    /* opacity: 80%; */
    filter: saturate(0);
    position: fixed;
    bottom: 0px;
    left: 0px;
    mix-blend-mode: saturation;
}

.bw-top{
    top: 0px;
}


/* ul.image-blocks > li:not(:first-child){  
    display: none;
} */


@media (min-width: 396px) {
    p{
        max-width: 40ch;
    }
}

@media (min-width: 490px) {
    p{
        max-width: 53ch;
    }

    .image-focus{
        top: 50%;
    }
}

@media (min-width: 507px) {
    .grid-view{
        top: 159px;
    }

    .black-and-white{
        height: 34%;
    }

    .view-buttons{
        top: 170px;
        /* margin-top: 206px; */
    }
    }

@media (min-width: 580px) {

    aside iframe{
        width: 450px;
        height: 300px;
        left: calc(50% - 323px);
    }

    #backtotop{
        font-size: 25px;
        height: 40px;
        width: 40px;
    }
}

@media (min-width: 660px) {

    :root{
        --header: 50px;
        --header-leading: 55px;
         --article-title: calc(var(--header)/3.2);
        --article-title-leading: calc(var(--header-leading)/2.8);
        --body: calc(var(--header)/2.7);
        --body-leading: calc(var(--header)/2);
    }

    h1{
        -webkit-text-stroke-width: 1.3px;
    }  

    .small-headline{
        -webkit-text-stroke-width: 0.8px;
    }

    #image-grid{
        grid-template-columns: 1fr 1fr;
    } 

    .grid-view{
        top: 188px;
    }

    .black-and-white{
        height: 30%;
    }

    .view-buttons{
        top: 190px;
    }
}


@media (min-width: 900px) {

    p{
    max-width: 59ch;
  }

  aside iframe{
    width: 650px;
    height: 400px;
    left: calc(50% - 420px);
}
}

@media (min-width: 950px) {

    :root{
        --header: 68px;
        --header-leading: 70px;
        --article-title: calc(var(--header)/3.6);
        --article-title-leading: calc(var(--header-leading)/3);
        --body: calc(var(--header)/3.5);
        --body-leading: calc(var(--header)/2.5);
    }

    h1{
        -webkit-text-stroke-width: 1.8px;
        filter: drop-shadow(-2.5px 2.5px 0px black);
    }

    .small-headline{
        -webkit-text-stroke-width: 1px;
    }

    p{
        max-width: 67ch;
    }
    
    .grid-view{
        top: 224px;
    }

    .each-button{
        width: 60px;
        height: 30px;
        font-size: 16px;
    }

    .wider-button{
        width: 170px;
    }

    .view-buttons{
        top: 224px;
    }

    #image-grid{
        grid-template-columns: 1fr 1fr 1fr;
    } 

    .black-and-white{
        height: 25%;
    }
}

@media (min-width: 1000px) {
    aside iframe{
        width: 820px;
        height: 540px;
        left: calc(50% - 510px);
    }
}
