@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@font-face {
	font-family: 'Mondwest-Regular';
	src: url('fonts/PPMondwest-Regular.otf') format('truetype');
    font-weight: 100;
 }

:root{
    --header: 42px;
    --header-leading: 44px;

    --article-title: calc(var(--header)/1.8);
    --article-title-leading: calc(var(--header-leading)/1.8);

    --body: calc(var(--header)/2.1);
    --body-leading: 26px;
    
    --gap: 20px;
    --content-width: 100%;
    --content-height: 30vh;
}

body{
    font-family: 'Mondwest-Regular', serif;
}


h1{
    font-size: var(--header);
    line-height: var(--header-leading);
    margin: 20px;
    margin-top: 130px;
    max-width: 21ch;
}

h3{
    font-size: var(--article-title);
    line-height: var(--article-title-leading);
    font-family: 'Inconsolata', monospace;
    padding: 30px;
}


p{
    font-family: 'Inconsolata', monospace;
    margin: 28px;
    font-size: var(--body);
    line-height: var(--body-leading);
    max-width: 32ch;
}


button{
    background: #E5E5E5;
    border: 1.5px solid #767676;
    border-radius: 6px;
    width: 68px;
    height: 30px;
    font-size: 18px;
    margin: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

button:hover{
    cursor: pointer;
    transition-duration: 0.7s;
    background-color: #1aff00;
}


.top-left-button{
    position: absolute;
    left: 0px;
    top: 0px;
}

.view-buttons{
    display: flex;
    margin-top: -30px;
}

#grid-button{
    width: 68px;
    height: 30px;
    font-size: 18px;
}

#carousel-button{
    margin-left: 0px;
    width: 68px;
    height: 30px;
    font-size: 18px;
}

#left-arrow{
    display: none;
    width: 60px;
    font-size: 50px;
    justify-content: space-around;
    position: absolute;
    top: 76%;
    left: 100px;
}

#right-arrow{
    display: none;
    width: 60px;
    font-size: 50px;
    justify-content: space-around;
    position: absolute;
    top: 76%;
    right: 100px;
}

/* content type */

#image-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
    margin: 20px;
    margin-top: 10px;
}

iframe, .image{
    width: var(--content-width);
    height: var(--content-height);
    object-fit: cover; /* Cover the parent. */
	object-position: center center; /* Side. */
    filter: saturate(0);
}


.image:hover{
    filter: saturate(1);
    transition-duration: 0.7s;
    cursor: pointer;
}


iframe:hover{
    filter: saturate(1);
    transition-duration: 0.7s;
    cursor: pointer;
}

#video-embed-block{
    width: var(--content-width);
    height: var(--content-height);
    filter: saturate(0);
    object-fit:contain; /* Cover the parent. */
	object-position: left top; /* Side. */
}

.article{
    background-color: #1aff00;
    color: black;
    filter: saturate(0);
    width: var(--content-width);
    height: var(--content-height);
}

.article:hover{
    filter: saturate(1);
    transition-duration: 1s;
    cursor: pointer;
}

.link-block{
    background-color: #1aff00;
    color: black;
    filter: saturate(0);
    width: var(--content-width);
    height: var(--content-height);
}

.link-block:hover{
    filter: saturate(1);
    transition-duration: 1s;
    cursor: pointer;
}

.pdf-block{
    background-color: #1aff00;
    color: black;
    filter: saturate(0);
    width: var(--content-width);
    height: var(--content-height);
}

.pdf-block:hover{
    filter: saturate(1);
    transition-duration: 1s;
    cursor: pointer;
}

#image-carousel{
    display: flex;
    justify-content: space-between;
}

#carousel{
    display: none;
    margin-left:auto;
    margin-right:auto;
    width: 334px;
    height: 250px;
    position: relative;
    top: 30px;
    object-fit:contain; /* Cover the parent. */
	object-position: left top; /* Side. */
}
/* #image-grid > div {    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

@media (min-width: 490px) {
    p{
        max-width: 53ch;
    }
}

@media (min-width: 580px) {
    :root{
        --header: 54px;
        --header-leading: 55px;
        --article-title: calc(var(--header)/2.8);
        --article-title-leading: calc(var(--header-leading)/2.6);
        --body-leading: 34px;
    }

    #left-arrow{
        top: 60%;
        left: 8px;
    }
    
    #right-arrow{
        top: 60%;
        right: 8px;
    }
}

@media (min-width: 660px) {
    #image-grid{
        grid-template-columns: 1fr 1fr;
    } 
}

/* @media (min-width: 730px) {
    :root{
        --article-title: calc(var(--header)/2);
        --article-title-leading: 32px;
    }
} */


@media (min-width: 800px) {
  p{
    max-width: 59ch;
  }
}

@media (min-width: 950px) {
    :root{
        --header: 65px;
        --header-leading: 68px;
        --body: calc(var(--header)/2.8);
        --body-leading: 35px;
    }

    p{
        max-width: 67ch;
    }

    #left-arrow{
        top: 66%;
    }

    #right-arrow{
        top: 66%;
    }
    

    #image-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #carousel{
        max-width: 800px;
    }
        
}

@media (min-width: 1350px) {
    :root{
        --content-height: 35vh;
    }

}